.shop-banner{
    display:block;
    margin:30px 100px;
    width:90%;

}
.indexspot{
    display:flex;
    align-items:center;
    justify-content:space-around;
    gap:250px;  
    font-size:18px;
}
.indexspot p span{
    font-weight:600;

}
.shopcategory-sort{
    padding:10px 20px;
    border-radius:40px;
    border:1px solid green;
}
.sp-products{
    margin:23px 150px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    gap:30px;
}
.shop-loadmore{
    display:flex;
    align-items:center;
    justify-content:center;
   
}
.shop-loadmore button{
    padding:15px 20px;
    border-radius:40px;
    border:0;
    cursor: pointer;
    margin:15px auto;
    font-weight:600;
    font-size:14px;
    margin-bottom:18px;


}
.shop-loadmore button:hover{
    background-color:grey;
}